
@{
	ViewBag.Title = "VerifyEmail";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

    <div class="container cloudBox">
        <div class="row">
            <div class="col-md-3 cloud-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <p>BLAZE YOUR TRAIL!</p>
            </div>
            <div class="col-md-8">
                <img src="~/Images/cloud.png" style="width:700px; height:500px;">

                <div class="cloudText" style="top:30%; width:75%;">
                    <div class="row">
                        <p class="col">Enter the verification code:</p>
                        <input class="col form-control" type="text" id="verifyCode">
                    </div>
                    <div>
                        <span id="message" class="text-danger"></span>
                    </div>
                    <br />
                    <br />
                    <input type="submit" value="Verify" class="btnLoginRegister" id="btnVerify">
                    <input type="submit" value="Resend Code" class="btnLoginRegister" id="btnResend">
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
;
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnVerify").on('click', function () {
                var code = $('#verifyCode').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ConfirmEmailValidation", "RegisterAccount")',
                    contentType: 'application/json',
                    data: JSON.stringify({ enteredCode: code }),
                    dataType: "json",
                    success: function (data) {
                        if (data === true) {
                            window.location.href = '@Url.Action("../Home/Index")'
                        } else {
                            alert("Your account could not be created");
                        }
                    },
                    error: function (m) {

                    },
                });
            });

            $("#btnResend").on('click', function () {
                $.ajax({
                    url: '@Url.Action("ResendPasscode", "RegisterAccount")'
                });
            });
        })

    </script>
}