@using Common.Enumerations
@{
    ViewBag.Title = "CreateProfile";

    var user = (Common.Model.UserViewModel)Session["user"];
    if (user == null)
    {
        Response.Redirect("~/LoginAccount/Index");
    }
}

<div style="margin-top:3%;">

    <h2>Choose a career path</h2>
    <div class="row">
        <div class="card-columns d-flex justify-content-center mx-auto">
            <div class="card text-center col-md-5" style="width: 35rem;">
                <img class="card-img-top" src="~/Images/adminpic.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Salesforce Administrator</h5><br />
                                                                        <p class="card-text" style="line-height: 1.6;">Automating complex business processes, creating reports and dashboards, and training users on Salesforce.</p>
                    <a href="#" class="btn btn-primary" id="adm">Start</a>
                </div>
            </div>
            <div class="card text-center col-md-5" style="width: 40rem;">
                <img class="card-img-top" src="~/Images/devpic.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Salesforce Developer</h5>
                    <p class="card-text" style="line-height: 1.6;">Lead the testing and implementation of software development efforts, including coding, configuration, and debugging, as well as managing timelines and producing technical documentation.</p>
                    <a href="#" class="btn btn-primary" id="dev">Start</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        var SetCareerPath = function (path) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SetCareerpath", "Profile")',
                contentType: 'application/json',
                data: JSON.stringify({ path: path }),
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        window.location.href = '@Url.Action("QuestionsView", "Profile")';
                    }
                },
                error: function (m) {
                },
            });
        };

        $(document).ready(function () {
            $("#adm").on('click', function () {
                SetCareerPath('@CareerPath.Administrator');
            });

            $("#dev").on('click', function () {
                SetCareerPath('@CareerPath.Developer');
            });
        })

    </script>
}
