
@{
    ViewBag.Title = "CreateProfile";
}
    
    <div style="margin-top:3%;">

        <h2>Choose a career path</h2>
        <div class="row">
            <div class="card-columns d-flex justify-content-center mx-auto">
                <div class="card text-center col-md-5" style="width: 40rem;">
                    <img class="card-img-top" src="~/Images/adminpic.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Salesforce Administrator</h5><br />
                        <p class="card-text" style="line-height: 1.6;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Start</a>
                    </div>
                </div>
                <div class="card text-center col-md-5" style="width: 40rem;">
                    <img class="card-img-top" src="~/Images/devpic.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Salesforce Developer</h5>
                        <p class="card-text" style="line-height: 1.6;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>