
@{
    ViewBag.Title = "Recommendations";
}

    <div class="text-center" style="margin-top:5%;">

        <h2>Thank you for completing the skills assessment!</h2><br /><br />
        <img src="~/Images/complete.png" />
        <br /><br />
        <h2>Here's our recommendation:</h2>
        <br /><br />
        <div class="row mx-auto justify-content-center">
        <div id="currentBadges" class="col-md-4 mr-4">
            <h3 class="text-left">Badges Earned:</h3>
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="~/Images/empty.jpg" class="card-img" height="100px;" alt="...">
                    </div>
                    <div class="badge card-body col-md-5 text-left ml-2">
                        <h5 class="card-title">Badge 1</h5>
                        <p class="card-text">Badge description</p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="~/Images/empty.jpg" class="card-img" height="100px;" alt="...">
                    </div>
                    <div class="badge card-body col-md-5 text-left ml-2">
                        <h5 class="card-title">Badge 1</h5>
                        <p class="card-text">Badge description</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="neededBadges" class="col-md-4 ml-4">
            <h3 class="text-left">Badges Needed:</h3>
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="~/Images/empty.jpg" class="card-img" height="100px;" alt="...">
                    </div>
                    <div class="badge card-body col-md-8 text-left ml-2">
                        <h5 class="card-title">Badge 1</h5>
                        <p class="card-text">Badge description</p>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="~/Images/empty.jpg" class="card-img" height="100px;" alt="...">
                    </div>
                    <div class="badge card-body col-md-8 text-left ml-2">
                        <h5 class="card-title">Badge 1</h5>
                        <p class="card-text">Badge description</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>